

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.container-fluid:after,
.row:after {
  clear: both;
}

.tourdates-datebox {
  position: relative;
  overflow: hidden;
  margin: auto auto;
  width: 100%;
}
.tourdates-datebox .tourdates-datebox-inside {
  position: relative;
  margin: auto auto;
}
.tourdates-archive-date {
  position: relative;
  margin: 20px auto;
  text-align: center;
}
.tourdates-singledate {
  position: relative;
  overflow: hidden;
  margin: auto auto 1px;
  height: 110px;
  width: 70%;
  background-color: #fff;
}
@media (max-width: 600px) {
  .tourdates-singledate {
    height: 56px;
  }
}
.tourdates-singledate > a {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.tourdates-singledate .singledate-img {
  position: relative;
  float: left;
  height: 100%;
  width: 130px;
}
@media (max-width: 990px) {
  .tourdates-singledate .singledate-img {
    display: none;
  }
}
.tourdates-singledate .singledate-img > div {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -40px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.tourdates-singledate .singledate-datepicker {
  position: relative;
  float: left;
  height: 100%;
  width: 260px;
}
@media (max-width: 990px) {
  .tourdates-singledate .singledate-datepicker {
    margin-left: 20px;
    width: 240px;
  }
}
@media (max-width: 600px) {
  .tourdates-singledate .singledate-datepicker {
    margin-left: 0px;
    width: 140px;
  }
}
.tourdates-singledate .singledate-datepicker .date-month-day {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 100px;
  height: 100%;
}
@media (max-width: 600px) {
  .tourdates-singledate .singledate-datepicker .date-month-day {
    left: 70px;
    width: 70px;
  }
}
.tourdates-singledate .singledate-datepicker .date-month-day > p.year {
  display: none;
}
.tourdates-singledate .singledate-datepicker .date-month-day > p.month {
  padding-top: 34px;
  line-height: 29px !important;
  text-align: left;
  text-transform: uppercase;
  color: #666666;
}
@media (max-width: 600px) {
  .tourdates-singledate .singledate-datepicker .date-month-day > p.month {
    padding-top: 8px;
    font-size: 9px;
  }
}
.tourdates-singledate .singledate-datepicker .date-month-day > p.day {
  padding-top: 5px;
  line-height: 1px !important;
  text-align: left;
  text-transform: uppercase;
  color: #666666;
}
@media (max-width: 600px) {
  .tourdates-singledate .singledate-datepicker .date-month-day > p.day {
    padding-top: 0px;
    font-size: 9px;
  }
}
.tourdates-singledate .singledate-details {
  position: relative;
  overflow: hidden;
  float: left;
  height: 100%;
  width: 100%;
  max-width: 377px;
}
@media (max-width: 660px) {
  .tourdates-singledate .singledate-details {
    max-width: 300px;
  }
}
@media (max-width: 500px) {
  .tourdates-singledate .singledate-details {
    max-width: 130px;
  }
}
.tourdates-singledate .singledate-details > div {
  position: relative;
  height: 100%;
  width: 100%;
  display: table;
}
.tourdates-singledate .singledate-details > div > div {
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  text-align: left !important;
}
.tourdates-singledate .singledate-details > div > div > h6 {
  padding-top: 2px;
  text-align: left;
  font-family: 'proxima_nova_rgregular';
  color: #000000;
  letter-spacing: 0px;
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .tourdates-singledate .singledate-details > div > div > h6 {
    font-size: 9px;
  }
}
.tourdates-singledate .singledate-details > div > div > p {
  line-height: 29px;
  color: #666666;
  text-align: left;
}
@media (max-width: 600px) {
  .tourdates-singledate .singledate-details > div > div > p {
    padding-top: 5px;
    line-height: 10px !important;
    font-size: 9px;
  }
}
.tourdates-singledate .single-date-infotickets {
  position: relative;
  overflow: hidden;
  float: right;
  right: 0px;
  height: 100%;
}
@media (max-width: 740px) {
  .tourdates-singledate .single-date-infotickets {
    display: none;
  }
}
.tourdates-singledate .single-date-infotickets .single-date-info {
  position: relative;
  top: 50%;
  margin-top: -10px;
  float: right;
  height: 20px;
  width: 90px;
}
.tourdates-singledate .single-date-infotickets .single-date-info > div {
  position: relative;
  margin: auto auto;
  height: 20px;
  width: 100%;
  text-align: center;
}
.tourdates-singledate .single-date-infotickets .single-date-tickets-details {
  position: relative;
  float: right;
  height: 100%;
  width: 200px;
}
@media (max-width: 1270px) {
  .tourdates-singledate .single-date-infotickets .single-date-tickets-details {
    display: none;
  }
}
.tourdates-singledate .single-date-infotickets .single-date-tickets-details > div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: table;
}
.tourdates-singledate .single-date-infotickets .single-date-tickets-details > div > div {
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.tourdates-singledate .single-date-infotickets .single-date-tickets-details > div > div > h6 {
  font-family: 'Arapey';
  font-style: italic;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  padding-right: 10px;
  line-height: 24px;
  color: #999999;
}
.tourdates-singledate .single-date-infotickets .singledate-buytickets {
  position: relative;
  overflow: hidden;
  float: right;
  right: 0px;
  height: 100%;
  width: 180px;
}
@media (max-width: 1080px) {
  .tourdates-singledate .single-date-infotickets .singledate-buytickets {
    display: none;
  }
}
.tourdates-singledate .single-date-infotickets .singledate-buytickets > .buy-ticket-enable {
  position: relative;
  margin: auto auto;
  top: 50%;
  margin-top: -20px;
  height: 40px;
  width: 140px;
  border-radius: 20px;
  background: #b26b47;
  opacity: 0.7;
}
.tourdates-singledate .single-date-infotickets .singledate-buytickets > .buy-ticket-enable > a {
  display: block;
  margin: auto auto;
  width: 110px;
}
.tourdates-singledate .single-date-infotickets .singledate-buytickets > .buy-ticket-enable p {
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #fff;
}
.tourdates-singledate .single-date-infotickets .singledate-buytickets > .buy-ticket-disable {
  position: relative;
  margin: auto auto;
  top: 50%;
  margin-top: -20px;
  height: 40px;
  width: 140px;
  border-radius: 20px;
  background: #d9d9d9 !important;
}
.tourdates-singledate .single-date-infotickets .singledate-buytickets > .buy-ticket-disable > a {
  display: block;
  margin: auto auto;
  width: 110px;
}
.tourdates-singledate .single-date-infotickets .singledate-buytickets > .buy-ticket-disable p {
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #fff;
}
.tourdates-singlepage-ring {
  position: absolute;
  overflow: hidden;
  bottom: -62px;
  left: 50%;
  margin-left: -62px;
  height: 124px;
  width: 124px;
  border: 13px solid rgba(255, 255, 255, 0.26);
  border-radius: 50%;
  z-index: 2;
}
.tourdates-singlepage-ring > div {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 101px;
  width: 101px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.social-share-box-tourdates {
  position: relative;
  float: left;
  margin: auto auto;
  width: 100%;
}
.mobile-menu-wrap .mobile-newsletter-box .mobile-newsletter input[type="submit"] {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 36px;
  width: 62px;
  background: rgba(255, 255, 255, 0.1) url('../images/tourdates/arrow_disable.png') center center no-repeat;
  cursor: pointer;
  font-family: 'proxima_novalight';
  text-align: center;
  font-size: 22px;
  line-height: 62px !important;
  letter-spacing: 2px;
  color: #1d1e1f;
  outline: none;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
.max-1280 {
  max-width: 1280px !important;
}
.tourdates-singledate .singledate-datepicker .date-number > h1 {
  font-style: normal;
  line-height: 110px;
  font-size: 3.0em;
  color: #b26b47;
}
@media (max-width: 600px) {
  .tourdates-singledate .singledate-datepicker .date-number > h1 {
    line-height: 56px;
    font-size: 45px;
  }
}

.link-arrow-common {
  position: relative !important;
  font-family: 'Arapey';
  font-style: italic;
  text-align: center !important;
  font-weight: 400;
  padding-right: 20px;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 20px;
  color: #b26b47 !important;
  cursor: pointer;
}
.link-arrow-common:after {
  content: ' ';
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -3.5px;
  height: 7px;
  width: 10px;
  background: url('images/shared/arrow.png') no-repeat center center;
  background-size: 10px 7px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .link-arrow-common:after {
    background: url('images/retina/arrow.png') no-repeat center center;
    background-size: 10px 7px;
  }
}
.link-arrow-common:hover:after {
  right: 4px;
}
